.main-section .top-container .top-ewa, .main-section .top-container .top-galeria {
  margin: 30px;
  text-shadow: 0px 5px rgb(53, 53, 53);
  text-align: center;
  color: white;
  font-family: "Jura", sans-serif;
  letter-spacing: 0.25em;
}

.szkice .close-szkice, .olejne-naturalistyczne .close-olejne-naturalistyczne, .olejne-abstrakcje .close-olejne-abstrakcje, .akrylowe-abstrakcje .close-akrylowe-abstrakcje, .akrylowe-mandale .close-akrylowe-mandale {
  position: fixed;
  top: 0px;
  right: 10px;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}
.szkice .close-szkice:hover, .olejne-naturalistyczne .close-olejne-naturalistyczne:hover, .olejne-abstrakcje .close-olejne-abstrakcje:hover, .akrylowe-abstrakcje .close-akrylowe-abstrakcje:hover, .akrylowe-mandale .close-akrylowe-mandale:hover {
  color: #bbb;
  cursor: pointer;
}

.contact .contact-container .picture, .szkice .gallery-container .gallery-picture .picture-horizontal, .olejne-naturalistyczne .gallery-container .gallery-picture .picture-horizontal, .olejne-abstrakcje .gallery-container .gallery-picture .picture-horizontal, .akrylowe-abstrakcje .gallery-container .gallery-picture .picture-horizontal, .akrylowe-mandale .gallery-container .gallery-picture .picture-horizontal,
.szkice .gallery-container .gallery-picture .picture-vertical,
.olejne-naturalistyczne .gallery-container .gallery-picture .picture-vertical,
.olejne-abstrakcje .gallery-container .gallery-picture .picture-vertical,
.akrylowe-abstrakcje .gallery-container .gallery-picture .picture-vertical,
.akrylowe-mandale .gallery-container .gallery-picture .picture-vertical {
  border: 8px double rgb(242, 239, 239);
  transition: opacity 0.5s;
}
.contact .contact-container .picture:hover, .szkice .gallery-container .gallery-picture .picture-horizontal:hover, .olejne-naturalistyczne .gallery-container .gallery-picture .picture-horizontal:hover, .olejne-abstrakcje .gallery-container .gallery-picture .picture-horizontal:hover, .akrylowe-abstrakcje .gallery-container .gallery-picture .picture-horizontal:hover, .akrylowe-mandale .gallery-container .gallery-picture .picture-horizontal:hover,
.szkice .gallery-container .gallery-picture .picture-vertical:hover,
.olejne-naturalistyczne .gallery-container .gallery-picture .picture-vertical:hover,
.olejne-abstrakcje .gallery-container .gallery-picture .picture-vertical:hover,
.akrylowe-abstrakcje .gallery-container .gallery-picture .picture-vertical:hover,
.akrylowe-mandale .gallery-container .gallery-picture .picture-vertical:hover {
  opacity: 0.8;
  cursor: pointer;
}

.szkice img, .olejne-naturalistyczne img, .olejne-abstrakcje img, .akrylowe-abstrakcje img, .akrylowe-mandale img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.szkice .gallery-text-1, .olejne-naturalistyczne .gallery-text-1, .olejne-abstrakcje .gallery-text-1, .akrylowe-abstrakcje .gallery-text-1, .akrylowe-mandale .gallery-text-1 {
  text-align: center;
  padding: 5px;
  font-family: "Cinzel", serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}
.szkice .gallery-text-2, .olejne-naturalistyczne .gallery-text-2, .olejne-abstrakcje .gallery-text-2, .akrylowe-abstrakcje .gallery-text-2, .akrylowe-mandale .gallery-text-2 {
  text-align: center;
  padding: 5px;
  font-family: "Cinzel", serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
}
.szkice .gallery-container, .olejne-naturalistyczne .gallery-container, .olejne-abstrakcje .gallery-container, .akrylowe-abstrakcje .gallery-container, .akrylowe-mandale .gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 130px;
  max-width: 980px;
}
.szkice .gallery-container header, .olejne-naturalistyczne .gallery-container header, .olejne-abstrakcje .gallery-container header, .akrylowe-abstrakcje .gallery-container header, .akrylowe-mandale .gallery-container header {
  margin-top: 20px;
}
.szkice .gallery-container header :nth-child(1), .olejne-naturalistyczne .gallery-container header :nth-child(1), .olejne-abstrakcje .gallery-container header :nth-child(1), .akrylowe-abstrakcje .gallery-container header :nth-child(1), .akrylowe-mandale .gallery-container header :nth-child(1) {
  font-family: "Cinzel", serif;
  color: #AA2C18;
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.szkice .gallery-container header :nth-child(2), .olejne-naturalistyczne .gallery-container header :nth-child(2), .olejne-abstrakcje .gallery-container header :nth-child(2), .akrylowe-abstrakcje .gallery-container header :nth-child(2), .akrylowe-mandale .gallery-container header :nth-child(2) {
  font-family: "Cinzel", serif;
  color: black;
  font-size: 16px;
  padding-bottom: 30px;
  font-weight: normal;
  letter-spacing: 0.1em;
}
.szkice .gallery-container .gallery-picture, .olejne-naturalistyczne .gallery-container .gallery-picture, .olejne-abstrakcje .gallery-container .gallery-picture, .akrylowe-abstrakcje .gallery-container .gallery-picture, .akrylowe-mandale .gallery-container .gallery-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.szkice .gallery-container .gallery-picture .picture-horizontal, .olejne-naturalistyczne .gallery-container .gallery-picture .picture-horizontal, .olejne-abstrakcje .gallery-container .gallery-picture .picture-horizontal, .akrylowe-abstrakcje .gallery-container .gallery-picture .picture-horizontal, .akrylowe-mandale .gallery-container .gallery-picture .picture-horizontal,
.szkice .gallery-container .gallery-picture .picture-vertical,
.olejne-naturalistyczne .gallery-container .gallery-picture .picture-vertical,
.olejne-abstrakcje .gallery-container .gallery-picture .picture-vertical,
.akrylowe-abstrakcje .gallery-container .gallery-picture .picture-vertical,
.akrylowe-mandale .gallery-container .gallery-picture .picture-vertical {
  height: 100%;
}
.szkice .gallery-container .gallery-picture .modal, .olejne-naturalistyczne .gallery-container .gallery-picture .modal, .olejne-abstrakcje .gallery-container .gallery-picture .modal, .akrylowe-abstrakcje .gallery-container .gallery-picture .modal, .akrylowe-mandale .gallery-container .gallery-picture .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.szkice .gallery-container .gallery-picture .modal .scale, .olejne-naturalistyczne .gallery-container .gallery-picture .modal .scale, .olejne-abstrakcje .gallery-container .gallery-picture .modal .scale, .akrylowe-abstrakcje .gallery-container .gallery-picture .modal .scale, .akrylowe-mandale .gallery-container .gallery-picture .modal .scale {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.szkice .gallery-container .gallery-picture .modal .scale .scale-1, .olejne-naturalistyczne .gallery-container .gallery-picture .modal .scale .scale-1, .olejne-abstrakcje .gallery-container .gallery-picture .modal .scale .scale-1, .akrylowe-abstrakcje .gallery-container .gallery-picture .modal .scale .scale-1, .akrylowe-mandale .gallery-container .gallery-picture .modal .scale .scale-1 {
  height: 100%;
  display: flex;
  align-items: center;
}
.szkice .gallery-container .gallery-picture .modal .scale .scale-1 img, .olejne-naturalistyczne .gallery-container .gallery-picture .modal .scale .scale-1 img, .olejne-abstrakcje .gallery-container .gallery-picture .modal .scale .scale-1 img, .akrylowe-abstrakcje .gallery-container .gallery-picture .modal .scale .scale-1 img, .akrylowe-mandale .gallery-container .gallery-picture .modal .scale .scale-1 img {
  height: auto;
}
.szkice .gallery-container .gallery-picture .modal .scale .scale-1 .modal-content, .olejne-naturalistyczne .gallery-container .gallery-picture .modal .scale .scale-1 .modal-content, .olejne-abstrakcje .gallery-container .gallery-picture .modal .scale .scale-1 .modal-content, .akrylowe-abstrakcje .gallery-container .gallery-picture .modal .scale .scale-1 .modal-content, .akrylowe-mandale .gallery-container .gallery-picture .modal .scale .scale-1 .modal-content {
  padding: 30px;
  display: block;
  max-height: 100%;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

.szkice,
.akrylowe-abstrakcje,
.akrylowe-mandale,
.olejne-abstrakcje,
.olejne-naturalistyczne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  box-shadow: 0px 3px 5px rgb(129, 126, 126);
}
.main-header-container .main-header-sign-container {
  height: 128px;
  flex-basis: 15%;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header-container .main-header-sign-container img {
  position: absolute;
  height: 125px;
}
.main-header-container .main-header-sign-container a {
  text-decoration: none;
  color: #080808;
  transition: all 0.3s;
  z-index: 5;
}
.main-header-container .main-header-sign-container a:hover {
  color: pink;
  cursor: pointer;
}
.main-header-container .social-links {
  display: flex;
  flex-basis: 15%;
  align-items: center;
}
.main-header-container .social-links .social-link {
  font-size: 25px;
  color: grey;
  transition: all 0.3s;
  margin: 0 20px;
}
.main-header-container .social-links .social-link:hover {
  color: #1b1b1b;
}
.main-header-container .language-switch {
  display: flex;
  flex-basis: 10%;
  align-items: center;
  justify-content: center;
}
.main-header-container .language-switch a {
  transition: all 0.3s;
  text-decoration: none;
  color: #9C9C9C;
  padding-left: 10px;
}
.main-header-container .language-switch a:hover {
  color: pink;
  cursor: pointer;
}

@media (max-width: 576px) {
  .main-header-container .main-header-sign-container {
    flex-basis: 100%;
    font-size: 19px;
    height: 70px;
  }
  .main-header-container .main-header-sign-container img {
    height: 85px;
  }
  .main-header-container .social-links {
    flex-basis: 10%;
  }
  .main-header-container .social-links .social-link {
    font-size: 21px;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  .main-header-container .main-header-sign-container {
    flex-basis: 30%;
  }
  .main-header-container .social-links {
    flex-basis: 15%;
  }
  .main-header-container .social-links .social-link {
    font-size: 25px;
    margin: 0 15px;
  }
}
@media (min-width: 993px) {
  .main-header-container .main-header-sign-container {
    flex-basis: 17%;
  }
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .fa-bars {
  font-size: 28px;
  line-height: 90px;
  color: black;
  cursor: pointer;
}
nav .open-menu-holder {
  position: fixed;
  background-color: rgb(34, 25, 25);
  top: 0;
  right: 0;
  width: 220px;
  padding: 12px 23px;
  display: none;
}
nav .open-menu-holder.open {
  display: block;
}
nav .open-menu-holder .mobile-close {
  color: #fff;
  text-align: right;
  height: 50px;
}
nav .open-menu-holder .mobile-close .fa-times {
  font-size: 28px;
  line-height: 70px;
  cursor: pointer;
}
nav .open-menu-holder ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
nav .open-menu-holder ul .nav-item {
  display: inline-block;
  padding: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
nav .open-menu-holder ul .nav-item a {
  transition: all 0.3s;
  text-decoration: none;
  color: #9C9C9C;
}
nav .open-menu-holder ul .nav-item a:hover {
  color: pink;
  cursor: pointer;
}

@media (max-width: 400px) {
  .main-header-container nav {
    flex-basis: 10%;
  }
  .main-header-container nav .fa-bars {
    line-height: 40px;
  }
  .main-header-container nav .open-menu-holder .nav-item {
    padding: 20px;
    font-size: 25px;
  }
}
@media (min-width: 400px) and (max-width: 576px) {
  .main-header-container nav {
    flex-basis: 10%;
  }
  .main-header-container nav .fa-bars {
    line-height: 40px;
  }
  .main-header-container nav .open-menu-holder .nav-item {
    padding: 20px;
    font-size: 25px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .main-header-container nav {
    flex-basis: 10%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .main-header-container nav {
    flex-basis: 10%;
  }
}
@media (min-width: 993px) {
  .main-header-container nav {
    flex-basis: 57%;
  }
  .main-header-container .fa-bars,
  .main-header-container .mobile-close {
    display: none;
  }
  .main-header-container .open-menu-holder {
    display: block;
    position: static;
    background-color: transparent;
    width: auto;
    padding: 0;
  }
}
.main-section {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/gwiazda.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-section .top-container {
  background-color: rgba(255, 255, 255, 0.45);
  top: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-section .top-container .top-galeria {
  font-size: 40px;
  font-weight: 700;
}
.main-section .top-container .top-ewa {
  font-size: 32px;
  font-weight: 300;
  text-transform: none;
}
.main-section .bottom-container {
  position: relative;
  top: 310px;
  margin-left: 250px;
}
.main-section .bottom-container p {
  line-height: 1.4em;
  font-family: "Cinzel", serif;
  font-size: 20px;
}
.main-section .bottom-container p a {
  text-decoration: none;
  transition: all 0.3s;
  color: aliceblue;
}
.main-section .bottom-container p a:hover {
  color: pink;
  cursor: pointer;
}

@media (max-width: 440px) {
  .main-section {
    background-position: center;
  }
  .main-section .top-container {
    top: 140px;
  }
  .main-section .top-container .top-galeria {
    font-size: 32px;
    margin: 10px;
  }
  .main-section .top-container .top-ewa {
    font-size: 26px;
    margin: 10px;
  }
  .main-section .bottom-container {
    margin-left: 70px;
    top: 300px;
  }
  .main-section .bottom-container p {
    padding: 5px;
    font-size: 18px;
  }
}
.akrylowe-mandale .gallery-container {
  max-width: 1900px;
}
.akrylowe-mandale header {
  flex-basis: 90%;
}
.akrylowe-mandale .gallery-picture {
  flex-basis: 31%;
}
.akrylowe-mandale .gallery-picture .picture-horizontal {
  width: 450px;
}
.akrylowe-mandale .gallery-picture .under-picture {
  display: flex;
  justify-content: center;
}
.akrylowe-mandale .gallery-picture .under-picture .under-1 {
  margin-left: 60px;
}
.akrylowe-mandale .gallery-picture .under-picture .under-2 {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.akrylowe-mandale .gallery-picture .under-picture img {
  width: 55px;
  height: 55px;
  object-fit: contain;
}
.akrylowe-mandale .gallery-picture .under-picture img:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .akrylowe-mandale .close-akrylowe-mandale {
    font-size: 60px;
  }
  .akrylowe-mandale .gallery-container {
    margin-top: 140px;
  }
  .akrylowe-mandale .gallery-container header {
    text-align: center;
    margin: 0;
  }
  .akrylowe-mandale .gallery-container .gallery-picture {
    flex-basis: 51%;
  }
  .akrylowe-mandale .gallery-container .gallery-picture .picture-horizontal {
    width: 300px;
  }
  .akrylowe-mandale .footer-secondary {
    justify-content: center;
  }
  .akrylowe-mandale .footer-secondary .footer-text {
    margin: 0;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .akrylowe-mandale .gallery-container header {
    flex-basis: 66%;
  }
  .akrylowe-mandale .gallery-container .gallery-picture {
    flex-basis: 37%;
  }
  .akrylowe-mandale .gallery-container .gallery-picture .picture-horizontal {
    width: 290px;
  }
}
.akrylowe-abstrakcje .gallery-container header {
  flex-basis: 65%;
}
.akrylowe-abstrakcje .gallery-picture {
  flex-basis: 100%;
}
.akrylowe-abstrakcje .gallery-picture .picture-horizontal {
  width: 400px;
}
.akrylowe-abstrakcje .footer-primary {
  box-shadow: 0px -3px 5px rgb(129, 126, 126);
}

@media (max-width: 440px) {
  .akrylowe-abstrakcje .close-akrylowe-abstrakcje {
    font-size: 60px;
  }
  .akrylowe-abstrakcje .gallery-container {
    margin-top: 120px;
  }
  .akrylowe-abstrakcje .gallery-container header {
    margin: 0;
  }
  .akrylowe-abstrakcje .gallery-container header p {
    text-align: center;
  }
  .akrylowe-abstrakcje .gallery-container .gallery-picture .picture-horizontal {
    width: 300px;
  }
}
@media (min-width: 441px) and (max-width: 992px) {
  .akrylowe-abstrakcje .gallery-container {
    margin-top: 180px;
  }
  .akrylowe-abstrakcje .gallery-container header p {
    text-align: center;
  }
  .akrylowe-abstrakcje .gallery-container .gallery-picture .picture-horizontal {
    width: 400px;
  }
}
.olejne {
  height: 100vh;
  width: 100%;
  background-image: url("../img/olejne.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.olejne .olejne-container {
  height: 80px;
  color: rgb(194, 24, 24);
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  top: 170px;
}
.olejne .olejne-container header {
  height: 80px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}
.olejne .olejne-container header .olejne-text {
  margin-left: 250px;
  font-family: "Cinzel", serif;
  font-size: 22px;
  font-weight: 700;
  color: #AA2C18;
}
.olejne .olejne-container .buttons {
  display: flex;
  flex-direction: column;
  margin: 60px 0 0 250px;
}
.olejne .olejne-container .buttons a {
  background-color: white;
  transition: all 0.3s;
  font-family: "Cinzel", serif;
  font-size: 15px;
  letter-spacing: 0.15em;
  text-decoration: none;
  color: #243236;
  height: 85px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.olejne .olejne-container .buttons a:hover {
  background-color: #8FC9D9;
  color: white;
  cursor: pointer;
}
.olejne .olejne-container .buttons .btn-abstrakcje-olejne {
  border: 1px solid rgb(57, 57, 110);
  margin-bottom: 50px;
}
.olejne .olejne-container .buttons .btn-naturalistyczne {
  border: 1px solid rgb(57, 57, 110);
}

@media (max-width: 576px) {
  .olejne .olejne-container {
    justify-content: center;
    top: 140px;
  }
  .olejne .olejne-container header {
    justify-content: center;
  }
  .olejne .olejne-container header .olejne-text {
    margin: 0;
  }
  .olejne .olejne-container .buttons {
    margin: 60px 0 0 0;
  }
}
.olejne-abstrakcje header {
  flex-basis: 95%;
}
.olejne-abstrakcje .gallery-picture-horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.olejne-abstrakcje .gallery-picture {
  flex-basis: 33%;
}
.olejne-abstrakcje .gallery-picture .picture-horizontal {
  width: 460px;
}
.olejne-abstrakcje .gallery-picture .picture-vertical {
  width: 300px;
}
.olejne-abstrakcje .gallery-text-3 {
  margin: 0;
}

@media (max-width: 768px) {
  .olejne-abstrakcje .close-olejne-abstrakcje {
    font-size: 60px;
  }
  .olejne-abstrakcje .gallery-container {
    margin-top: 140px;
  }
  .olejne-abstrakcje .gallery-container header {
    margin: 0;
  }
  .olejne-abstrakcje .gallery-container header p {
    text-align: center;
  }
  .olejne-abstrakcje .gallery-container .gallery-picture {
    flex-basis: 51%;
  }
  .olejne-abstrakcje .gallery-container .gallery-picture .picture-horizontal {
    width: 300px;
  }
  .olejne-abstrakcje .gallery-container .gallery-picture .picture-vertical {
    width: 300px;
  }
  .olejne-abstrakcje .footer-secondary {
    justify-content: center;
  }
  .olejne-abstrakcje .footer-secondary .footer-text {
    margin: 0;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .olejne-abstrakcje .gallery-container {
    margin-top: 180px;
  }
  .olejne-abstrakcje .gallery-container header {
    flex-basis: 68%;
  }
  .olejne-abstrakcje .gallery-container .gallery-picture {
    flex-basis: 37%;
  }
  .olejne-abstrakcje .gallery-container .gallery-picture .picture-horizontal {
    width: 620px;
  }
  .olejne-abstrakcje .gallery-container .gallery-picture .picture-vertical {
    width: 320px;
  }
}
.olejne-naturalistyczne header {
  flex-basis: 95%;
}
.olejne-naturalistyczne .gallery-picture {
  flex-basis: 50%;
}
.olejne-naturalistyczne .gallery-picture .picture-horizontal {
  width: 460px;
}
.olejne-naturalistyczne .gallery-picture .picture-vertical {
  width: 350px;
}
.olejne-naturalistyczne .gallery-picture .picture-vertical .overlay {
  font-size: 30px;
}
.olejne-naturalistyczne .gallery-text-3 {
  margin: 0;
}

@media (max-width: 768px) {
  .olejne-naturalistyczne .close-olejne-naturalistyczne {
    font-size: 60px;
  }
  .olejne-naturalistyczne .gallery-container {
    margin-top: 140px;
  }
  .olejne-naturalistyczne .gallery-container header {
    margin: 0;
  }
  .olejne-naturalistyczne .gallery-container header p {
    text-align: center;
  }
  .olejne-naturalistyczne .gallery-container .gallery-picture {
    flex-basis: 51%;
  }
  .olejne-naturalistyczne .gallery-container .gallery-picture .picture-horizontal {
    width: 300px;
  }
  .olejne-naturalistyczne .gallery-container .gallery-picture .picture-vertical {
    width: 300px;
  }
  .olejne-naturalistyczne .footer-secondary {
    justify-content: center;
  }
  .olejne-naturalistyczne .footer-secondary .footer-text {
    margin: 0;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .olejne-naturalistyczne .gallery-container {
    margin-top: 180px;
  }
  .olejne-naturalistyczne .gallery-container header {
    flex-basis: 51%;
  }
  .olejne-naturalistyczne .gallery-container .gallery-picture {
    flex-basis: 51%;
  }
  .olejne-naturalistyczne .gallery-container .gallery-picture .picture-horizontal {
    width: 500px;
  }
  .olejne-naturalistyczne .gallery-container .gallery-picture .picture-vertical {
    width: 370px;
  }
}
.szkice header {
  flex-basis: 95%;
}
.szkice .gallery-picture {
  flex-basis: 50%;
}
.szkice .gallery-picture .picture-horizontal {
  width: 450px;
}
.szkice .gallery-picture .picture-vertical {
  width: 350px;
}

@media (max-width: 768px) {
  .szkice .close-szkice {
    font-size: 60px;
  }
  .szkice .gallery-container {
    margin-top: 140px;
  }
  .szkice .gallery-container header {
    text-align: center;
    margin: 0;
  }
  .szkice .gallery-container .gallery-picture {
    flex-basis: 51%;
  }
  .szkice .gallery-container .gallery-picture .picture-horizontal {
    width: 350px;
  }
  .szkice .gallery-container .gallery-picture .picture-vertical {
    width: 250px;
  }
  .szkice .footer-secondary {
    justify-content: center;
  }
  .szkice .footer-secondary .footer-text {
    margin: 0;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .szkice .gallery-container header {
    flex-basis: 75%;
  }
  .szkice .gallery-container .gallery-picture {
    flex-basis: 40%;
  }
  .szkice .gallery-container .gallery-picture .picture-horizontal {
    width: 350px;
  }
  .szkice .gallery-container .gallery-picture .picture-vertical {
    width: 250px;
  }
}
.akrylowe {
  height: 100vh;
  width: 100%;
  background-image: url("../img/mandala.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.akrylowe .akrylowe-container {
  height: 80px;
  color: rgb(194, 24, 24);
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  top: 170px;
}
.akrylowe .akrylowe-container header {
  height: 80px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}
.akrylowe .akrylowe-container header .akrylowe-text {
  margin-left: 250px;
  font-family: "Cinzel", serif;
  font-size: 22px;
  font-weight: 700;
  color: #AA2C18;
}
.akrylowe .akrylowe-container .buttons {
  display: flex;
  flex-direction: column;
  margin: 60px 0 0 250px;
}
.akrylowe .akrylowe-container .buttons a {
  background-color: white;
  transition: all 0.3s;
  font-family: "Cinzel", serif;
  font-size: 15px;
  letter-spacing: 0.15em;
  text-decoration: none;
  color: #243236;
  height: 85px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.akrylowe .akrylowe-container .buttons a:hover {
  background-color: #8FC9D9;
  color: white;
  cursor: pointer;
}
.akrylowe .akrylowe-container .buttons .btn-mandale {
  border: 1px solid rgb(57, 57, 110);
  margin-bottom: 50px;
}
.akrylowe .akrylowe-container .buttons .btn-abstrakcje {
  border: 1px solid rgb(57, 57, 110);
}

@media (max-width: 576px) {
  .akrylowe .akrylowe-container {
    justify-content: center;
    top: 140px;
  }
  .akrylowe .akrylowe-container header {
    justify-content: center;
  }
  .akrylowe .akrylowe-container header .akrylowe-text {
    margin: 0;
  }
  .akrylowe .akrylowe-container .buttons {
    margin: 60px 0 0 0;
  }
}
.contact .contact-container .picture {
  pointer-events: none;
  margin-top: 50px;
  height: 100%;
}
.contact .contact-container .picture .img-vertical {
  width: 280px;
}
.contact .contact-container .contact-container-top {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  top: 180px;
}
.contact .contact-container .contact-container-top .contact-text {
  flex-basis: 34%;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6em;
  margin-left: 40px;
}
.contact .contact-container .contact-container-top .contact-text h2 {
  font-family: "Cinzel", serif;
  font-weight: 100;
  font-size: 20px;
  color: #48656D;
  letter-spacing: 0.1em;
  padding-bottom: 20px;
}
.contact .contact-container .contact-container-top .contact-text p {
  text-transform: none;
  color: #4A4A4A;
}
.contact .contact-container .contact-container-top .contact-text .contact-text-1 {
  padding-top: 20px;
}
.contact .contact-container .contact-container-bottom {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  top: 160px;
}
.contact .contact-container .contact-container-bottom .contact-sign-address {
  flex-basis: 37%;
}
.contact .contact-container .contact-container-bottom .contact-sign-address .contact-sign {
  margin-left: 20px;
}
.contact .contact-container .contact-container-bottom .contact-sign-address .contact-sign img {
  width: 240px;
}
.contact .contact-container .contact-container-bottom .contact-sign-address address {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  margin-top: 40px;
}
.contact .contact-container .contact-container-bottom .contact-sign-address address p {
  padding: 10px;
  margin-left: 30px;
  text-transform: none;
  color: #AA2C18;
}

@media (max-width: 576px) {
  .contact .contact-container .picture {
    margin: 0;
  }
  .contact .contact-container .picture .img-vertical {
    width: 250px;
  }
  .contact .contact-container .contact-container-top {
    top: 130px;
  }
  .contact .contact-container .contact-container-top .contact-text {
    flex-basis: 66%;
    font-size: 13px;
    margin-left: 0;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address {
    flex-basis: 45%;
    order: 1;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address address {
    margin: 0;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address address p {
    text-align: center;
    margin: 0;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address .contact-sign {
    margin: 0;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address .contact-sign img {
    width: 150px;
  }
  .contact .contact-container .contact-container-bottom .picture {
    order: 2;
  }
  .contact .contact-container .contact-container-bottom footer {
    order: 3;
    justify-content: center;
  }
  .contact .contact-container .contact-container-bottom footer p {
    margin: 0;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .contact .contact-container .picture .img-vertical {
    width: 250px;
  }
  .contact .contact-container .contact-container-top .contact-text {
    flex-basis: 45%;
    font-size: 13px;
    line-height: 1.2em;
    margin-left: 20px;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address {
    flex-basis: 45%;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address .contact-sign img {
    width: 150px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .contact .contact-container .picture .img-vertical {
    width: 250px;
  }
  .contact .contact-container .contact-container-top .contact-text {
    font-size: 14px;
    line-height: 1.5em;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address .contact-sign img {
    width: 180px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .contact .contact-container .contact-container-top .contact-text {
    font-size: 14px;
  }
  .contact .contact-container .contact-container-top .contact-text .contact-text-1 {
    padding-top: 14px;
  }
}
.footer-secondary, .footer-primary {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}
.footer-secondary .footer-text, .footer-primary .footer-text {
  margin-left: 250px;
  font-family: "Jura", sans-serif;
  color: #243236;
}

.footer-secondary {
  position: initial;
  box-shadow: 0px -3px 5px rgb(129, 126, 126);
  margin-top: 20px;
}

@media (max-width: 400px) {
  .footer-primary .footer-text,
  .footer-secondary .footer-text {
    margin-left: 70px;
  }
}
@media print {
  @page {
    margin: 2cm;
  }
  .main-header-container {
    display: none;
  }
  .szkice footer,
  .akrylowe-mandale footer,
  .akrylowe-abstrakcje footer,
  .olejne-abstrakcje footer,
  .olejne-naturalistyczne footer {
    display: none;
  }
  .contact .contact-container .picture {
    margin-top: 35px;
  }
  .contact .contact-container .picture .img-vertical {
    width: 250px;
  }
  .contact .contact-container .contact-container-top {
    top: 100px;
  }
  .contact .contact-container .contact-container-top .contact-text {
    flex-basis: 35%;
    font-size: 13px;
    line-height: 1em;
    margin-left: 20px;
  }
  .contact .contact-container .contact-container-bottom {
    top: 90px;
  }
  .contact .contact-container .contact-container-bottom .picture {
    order: 1;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address {
    flex-basis: 35%;
    order: 2;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address .contact-sign img {
    width: 150px;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address address {
    margin-top: 20px;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address address p {
    margin-left: -40px;
  }
  .contact .contact-container .contact-container-bottom footer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */