@charset "UTF-8";
.szkice .close-szkice, .olejne-naturalistyczne .close-olejne-naturalistyczne, .olejne-abstrakcje .close-olejne-abstrakcje, .akrylowe-abstrakcje .close-akrylowe-abstrakcje, .akrylowe-mandale .close-akrylowe-mandale {
  position: fixed;
  top: 0px;
  right: 10px;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}
.szkice .close-szkice:hover, .olejne-naturalistyczne .close-olejne-naturalistyczne:hover, .olejne-abstrakcje .close-olejne-abstrakcje:hover, .akrylowe-abstrakcje .close-akrylowe-abstrakcje:hover, .akrylowe-mandale .close-akrylowe-mandale:hover {
  color: #bbb;
  cursor: pointer;
}

.contact .contact-container .picture, .szkice .gallery-container .gallery-picture .picture-horizontal, .olejne-naturalistyczne .gallery-container .gallery-picture .picture-horizontal, .olejne-abstrakcje .gallery-container .gallery-picture .picture-horizontal, .akrylowe-abstrakcje .gallery-container .gallery-picture .picture-horizontal, .akrylowe-mandale .gallery-container .gallery-picture .picture-horizontal,
.szkice .gallery-container .gallery-picture .picture-vertical,
.olejne-naturalistyczne .gallery-container .gallery-picture .picture-vertical,
.olejne-abstrakcje .gallery-container .gallery-picture .picture-vertical,
.akrylowe-abstrakcje .gallery-container .gallery-picture .picture-vertical,
.akrylowe-mandale .gallery-container .gallery-picture .picture-vertical {
  border: 8px double rgb(242, 239, 239);
  transition: opacity 0.5s;
}
.contact .contact-container .picture:hover, .szkice .gallery-container .gallery-picture .picture-horizontal:hover, .olejne-naturalistyczne .gallery-container .gallery-picture .picture-horizontal:hover, .olejne-abstrakcje .gallery-container .gallery-picture .picture-horizontal:hover, .akrylowe-abstrakcje .gallery-container .gallery-picture .picture-horizontal:hover, .akrylowe-mandale .gallery-container .gallery-picture .picture-horizontal:hover,
.szkice .gallery-container .gallery-picture .picture-vertical:hover,
.olejne-naturalistyczne .gallery-container .gallery-picture .picture-vertical:hover,
.olejne-abstrakcje .gallery-container .gallery-picture .picture-vertical:hover,
.akrylowe-abstrakcje .gallery-container .gallery-picture .picture-vertical:hover,
.akrylowe-mandale .gallery-container .gallery-picture .picture-vertical:hover {
  opacity: 0.8;
  cursor: pointer;
}

.switch-gallery-on.szkice, .switch-gallery-on.olejne-naturalistyczne, .switch-gallery-on.olejne-abstrakcje, .switch-gallery-on.akrylowe-abstrakcje, .switch-gallery-on.akrylowe-mandale {
  display: block;
}
.switch-gallery-opacity.szkice, .switch-gallery-opacity.olejne-naturalistyczne, .switch-gallery-opacity.olejne-abstrakcje, .switch-gallery-opacity.akrylowe-abstrakcje, .switch-gallery-opacity.akrylowe-mandale {
  opacity: 1;
}
.szkice img, .olejne-naturalistyczne img, .olejne-abstrakcje img, .akrylowe-abstrakcje img, .akrylowe-mandale img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.szkice .gallery-text-1, .olejne-naturalistyczne .gallery-text-1, .olejne-abstrakcje .gallery-text-1, .akrylowe-abstrakcje .gallery-text-1, .akrylowe-mandale .gallery-text-1 {
  text-align: center;
  padding: 5px;
  font-family: "Cinzel", serif;
  font-size: 16px;
  font-weight: 600;
}
.szkice .gallery-text-2, .olejne-naturalistyczne .gallery-text-2, .olejne-abstrakcje .gallery-text-2, .akrylowe-abstrakcje .gallery-text-2, .akrylowe-mandale .gallery-text-2 {
  text-align: center;
  padding: 5px;
  font-family: "Cinzel", serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.szkice .gallery-container, .olejne-naturalistyczne .gallery-container, .olejne-abstrakcje .gallery-container, .akrylowe-abstrakcje .gallery-container, .akrylowe-mandale .gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 130px;
  max-width: 980px;
}
.szkice .gallery-container header, .olejne-naturalistyczne .gallery-container header, .olejne-abstrakcje .gallery-container header, .akrylowe-abstrakcje .gallery-container header, .akrylowe-mandale .gallery-container header {
  margin-top: 20px;
}
.szkice .gallery-container header :nth-child(1), .olejne-naturalistyczne .gallery-container header :nth-child(1), .olejne-abstrakcje .gallery-container header :nth-child(1), .akrylowe-abstrakcje .gallery-container header :nth-child(1), .akrylowe-mandale .gallery-container header :nth-child(1) {
  font-family: "Cinzel", serif;
  color: #AA2C18;
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.szkice .gallery-container header :nth-child(2), .olejne-naturalistyczne .gallery-container header :nth-child(2), .olejne-abstrakcje .gallery-container header :nth-child(2), .akrylowe-abstrakcje .gallery-container header :nth-child(2), .akrylowe-mandale .gallery-container header :nth-child(2) {
  font-family: "Cinzel", serif;
  color: black;
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: normal;
  letter-spacing: 0.1em;
}
.szkice .gallery-container .gallery-picture, .olejne-naturalistyczne .gallery-container .gallery-picture, .olejne-abstrakcje .gallery-container .gallery-picture, .akrylowe-abstrakcje .gallery-container .gallery-picture, .akrylowe-mandale .gallery-container .gallery-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.szkice .gallery-container .gallery-picture .picture-horizontal, .olejne-naturalistyczne .gallery-container .gallery-picture .picture-horizontal, .olejne-abstrakcje .gallery-container .gallery-picture .picture-horizontal, .akrylowe-abstrakcje .gallery-container .gallery-picture .picture-horizontal, .akrylowe-mandale .gallery-container .gallery-picture .picture-horizontal,
.szkice .gallery-container .gallery-picture .picture-vertical,
.olejne-naturalistyczne .gallery-container .gallery-picture .picture-vertical,
.olejne-abstrakcje .gallery-container .gallery-picture .picture-vertical,
.akrylowe-abstrakcje .gallery-container .gallery-picture .picture-vertical,
.akrylowe-mandale .gallery-container .gallery-picture .picture-vertical {
  height: 100%;
}
.szkice .gallery-container .gallery-picture .modal, .olejne-naturalistyczne .gallery-container .gallery-picture .modal, .olejne-abstrakcje .gallery-container .gallery-picture .modal, .akrylowe-abstrakcje .gallery-container .gallery-picture .modal, .akrylowe-mandale .gallery-container .gallery-picture .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.szkice .gallery-container .gallery-picture .modal .scale, .olejne-naturalistyczne .gallery-container .gallery-picture .modal .scale, .olejne-abstrakcje .gallery-container .gallery-picture .modal .scale, .akrylowe-abstrakcje .gallery-container .gallery-picture .modal .scale, .akrylowe-mandale .gallery-container .gallery-picture .modal .scale {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.szkice .gallery-container .gallery-picture .modal .scale .scale-1, .olejne-naturalistyczne .gallery-container .gallery-picture .modal .scale .scale-1, .olejne-abstrakcje .gallery-container .gallery-picture .modal .scale .scale-1, .akrylowe-abstrakcje .gallery-container .gallery-picture .modal .scale .scale-1, .akrylowe-mandale .gallery-container .gallery-picture .modal .scale .scale-1 {
  height: 100%;
  display: flex;
  align-items: center;
}
.szkice .gallery-container .gallery-picture .modal .scale .scale-1 img, .olejne-naturalistyczne .gallery-container .gallery-picture .modal .scale .scale-1 img, .olejne-abstrakcje .gallery-container .gallery-picture .modal .scale .scale-1 img, .akrylowe-abstrakcje .gallery-container .gallery-picture .modal .scale .scale-1 img, .akrylowe-mandale .gallery-container .gallery-picture .modal .scale .scale-1 img {
  height: auto;
}
.szkice .gallery-container .gallery-picture .modal .scale .scale-1 .modal-content, .olejne-naturalistyczne .gallery-container .gallery-picture .modal .scale .scale-1 .modal-content, .olejne-abstrakcje .gallery-container .gallery-picture .modal .scale .scale-1 .modal-content, .akrylowe-abstrakcje .gallery-container .gallery-picture .modal .scale .scale-1 .modal-content, .akrylowe-mandale .gallery-container .gallery-picture .modal .scale .scale-1 .modal-content {
  padding: 30px;
  display: block;
  max-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

.szkice,
.akrylowe-abstrakcje,
.akrylowe-mandale,
.olejne-abstrakcje,
.olejne-naturalistyczne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  box-shadow: 0px 3px 5px rgb(129, 126, 126);
}
.main-header-container .main-header-sign-container {
  height: 128px;
  flex-basis: 15%;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header-container .main-header-sign-container img {
  position: absolute;
  height: 125px;
}
.main-header-container .main-header-sign-container a {
  text-decoration: none;
  color: #080808;
  transition: all 0.3s;
  z-index: 5;
}
.main-header-container .main-header-sign-container a:hover {
  color: pink;
  cursor: pointer;
}
.main-header-container .social-links {
  display: flex;
  flex-basis: 15%;
  align-items: center;
}
.main-header-container .social-links .social-link {
  font-size: 25px;
  color: grey;
  transition: all 0.3s;
  margin: 0 20px;
}
.main-header-container .social-links .social-link:hover {
  color: #1b1b1b;
}
.main-header-container .language-switch {
  display: flex;
  flex-basis: 10%;
  align-items: center;
  justify-content: center;
}
.main-header-container .language-switch a {
  transition: all 0.3s;
  text-decoration: none;
  color: #9C9C9C;
  padding-left: 10px;
}
.main-header-container .language-switch a:hover {
  color: pink;
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 576px) {
  .main-header-container .main-header-sign-container {
    flex-basis: 45%;
    font-size: 19px;
    height: 90px;
  }
  .main-header-container .main-header-sign-container img {
    height: 90px;
  }
  .main-header-container .social-links {
    flex-basis: 10%;
  }
  .main-header-container .social-links .social-link {
    font-size: 21px;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  .main-header-container .main-header-sign-container {
    flex-basis: 30%;
  }
  .main-header-container .social-links {
    flex-basis: 15%;
  }
  .main-header-container .social-links .social-link {
    font-size: 25px;
    margin: 0 15px;
  }
}
@media (min-width: 993px) {
  .main-header-container .main-header-sign-container {
    flex-basis: 17%;
  }
}
@media print {
  .main-header-container .main-header-sign-container {
    flex-basis: 20%;
  }
  .main-header-container .main-header-sign-container img {
    height: 70px;
  }
  .main-header-container .social-links .social-link {
    margin: 0 10px;
    font-size: 20px;
  }
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .fa-bars {
  font-size: 28px;
  line-height: 90px;
  color: black;
  cursor: pointer;
}
nav .open-menu-holder {
  position: fixed;
  background-color: rgb(34, 25, 25);
  top: 0;
  right: 0;
  width: 220px;
  padding: 12px 23px;
  display: none;
}
nav .open-menu-holder.open {
  display: block;
}
nav .open-menu-holder .mobile-close {
  color: #fff;
  text-align: right;
  height: 50px;
}
nav .open-menu-holder .mobile-close .fa-times {
  font-size: 28px;
  line-height: 70px;
  cursor: pointer;
}
nav .open-menu-holder ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
nav .open-menu-holder ul .nav-item {
  display: inline-block;
  padding: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
nav .open-menu-holder ul .nav-item a {
  transition: all 0.3s;
  text-decoration: none;
  color: #9C9C9C;
}
nav .open-menu-holder ul .nav-item a:hover {
  color: pink;
  cursor: pointer;
}

@media (max-width: 400px) {
  .main-header-container nav {
    flex-basis: 10%;
  }
  .main-header-container nav .open-menu-holder .nav-item {
    padding: 20px;
    font-size: 25px;
  }
}
@media (min-width: 400px) and (max-width: 576px) {
  .main-header-container nav {
    flex-basis: 10%;
  }
  .main-header-container nav .open-menu-holder .nav-item {
    padding: 20px;
    font-size: 25px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .main-header-container nav {
    flex-basis: 10%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .main-header-container nav {
    flex-basis: 10%;
  }
}
@media (min-width: 993px) {
  .main-header-container nav {
    flex-basis: 57%;
  }
  .main-header-container .fa-bars,
  .main-header-container .mobile-close {
    display: none;
  }
  .main-header-container .open-menu-holder {
    display: block;
    position: static;
    background-color: transparent;
    width: auto;
    padding: 0;
  }
}
@media print {
  .main-header-container nav {
    flex-basis: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-header-container nav .open-menu-holder ul .nav-item {
    padding: 10px;
    font-size: 20px;
  }
  .main-header-container .fa-bars,
  .main-header-container .mobile-close {
    display: none;
  }
  .main-header-container .open-menu-holder {
    display: block;
    position: static;
    background-color: transparent;
    width: auto;
    padding: 0;
  }
}
.main-section .top-container .top-ewa, .main-section .top-container .top-galeria {
  margin: 30px;
  text-shadow: 0px 5px rgb(53, 53, 53);
  text-align: center;
  color: white;
  font-family: "Jura", sans-serif;
  letter-spacing: 0.25em;
}

.main-section {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/gwiazda.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: opacity 2s;
}
.main-section.switch-main-off {
  display: none;
}
.main-section .top-container {
  background-color: rgba(255, 255, 255, 0.45);
  top: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-section .top-container .top-galeria {
  font-size: 40px;
  font-weight: 700;
}
.main-section .top-container .top-ewa {
  font-size: 32px;
  font-weight: 300;
}
.main-section .bottom-container {
  position: relative;
  top: 310px;
  margin-left: 250px;
}
.main-section .bottom-container p {
  line-height: 1.4em;
  font-family: "Cinzel", serif;
  font-size: 20px;
}
.main-section .bottom-container p a {
  text-decoration: none;
  transition: all 0.3s;
  color: aliceblue;
}
.main-section .bottom-container p a:hover {
  color: pink;
  cursor: pointer;
}

@media (max-width: 440px) {
  .main-section {
    background-position: center;
  }
  .main-section .top-container {
    top: 140px;
  }
  .main-section .top-container .top-galeria {
    font-size: 32px;
    margin: 10px;
  }
  .main-section .top-container .top-ewa {
    font-size: 26px;
    margin: 10px;
  }
  .main-section .bottom-container {
    margin-left: 70px;
    top: 300px;
  }
  .main-section .bottom-container p {
    padding: 5px;
    font-size: 18px;
  }
}
.akrylowe-mandale header {
  flex-basis: 95%;
}
.akrylowe-mandale .gallery-picture {
  flex-basis: 33%;
}
.akrylowe-mandale .gallery-picture .picture-horizontal {
  width: 300px;
}

@media (max-width: 768px) {
  .akrylowe-mandale .close-akrylowe-mandale {
    font-size: 60px;
  }
  .akrylowe-mandale .gallery-container {
    margin-top: 120px;
  }
  .akrylowe-mandale .gallery-container header {
    text-align: center;
    margin: 0;
  }
  .akrylowe-mandale .gallery-container .gallery-picture {
    flex-basis: 51%;
  }
  .akrylowe-mandale .gallery-container .gallery-picture .picture-horizontal {
    width: 300px;
  }
  .akrylowe-mandale .footer-secondary {
    justify-content: center;
  }
  .akrylowe-mandale .footer-secondary .footer-text {
    margin: 0;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .akrylowe-mandale .gallery-container header {
    flex-basis: 66%;
  }
  .akrylowe-mandale .gallery-container .gallery-picture {
    flex-basis: 37%;
  }
  .akrylowe-mandale .gallery-container .gallery-picture .picture-horizontal {
    width: 290px;
  }
}
.akrylowe-abstrakcje .gallery-container header {
  flex-basis: 65%;
}
.akrylowe-abstrakcje .gallery-picture {
  flex-basis: 100%;
}
.akrylowe-abstrakcje .gallery-picture .picture-horizontal {
  width: 400px;
}
.akrylowe-abstrakcje .footer-primary {
  box-shadow: 0px -3px 5px rgb(129, 126, 126);
}

@media (max-width: 440px) {
  .akrylowe-abstrakcje .close-akrylowe-abstrakcje {
    font-size: 60px;
  }
  .akrylowe-abstrakcje .gallery-container {
    margin-top: 120px;
  }
  .akrylowe-abstrakcje .gallery-container header {
    margin: 0;
  }
  .akrylowe-abstrakcje .gallery-container header p {
    text-align: center;
  }
  .akrylowe-abstrakcje .gallery-container .gallery-picture .picture-horizontal {
    width: 300px;
  }
}
@media (min-width: 441px) and (max-width: 992px) {
  .akrylowe-abstrakcje .gallery-container {
    margin-top: 180px;
  }
  .akrylowe-abstrakcje .gallery-container header p {
    text-align: center;
  }
  .akrylowe-abstrakcje .gallery-container .gallery-picture .picture-horizontal {
    width: 400px;
  }
}
.olejne {
  height: 100vh;
  width: 100%;
  background-image: url("../img/olejne.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.olejne .olejne-container {
  height: 80px;
  color: rgb(194, 24, 24);
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  top: 170px;
}
.olejne .olejne-container header {
  height: 80px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}
.olejne .olejne-container header .olejne-text {
  margin-left: 250px;
  font-family: "Cinzel", serif;
  font-size: 22px;
  font-weight: 700;
  color: #AA2C18;
}
.olejne .olejne-container .buttons {
  display: flex;
  flex-direction: column;
  margin: 60px 0 0 250px;
}
.olejne .olejne-container .buttons a {
  background-color: white;
  transition: all 0.3s;
  font-family: "Cinzel", serif;
  font-size: 15px;
  letter-spacing: 0.15em;
  text-decoration: none;
  color: green;
  height: 85px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.olejne .olejne-container .buttons a:hover {
  background-color: #8FC9D9;
  color: white;
  cursor: pointer;
}
.olejne .olejne-container .buttons .btn-abstrakcje-olejne {
  border: 1px solid rgb(57, 57, 110);
  margin-bottom: 10px;
}
.olejne .olejne-container .buttons .btn-naturalistyczne {
  border: 1px solid rgb(57, 57, 110);
}

@media (max-width: 576px) {
  .olejne .olejne-container {
    justify-content: center;
    top: 140px;
  }
  .olejne .olejne-container header {
    justify-content: center;
  }
  .olejne .olejne-container header .olejne-text {
    margin: 0;
  }
  .olejne .olejne-container .buttons {
    margin: 60px 0 0 0;
  }
}
.olejne-abstrakcje header {
  flex-basis: 95%;
}
.olejne-abstrakcje .gallery-picture {
  flex-basis: 33%;
}
.olejne-abstrakcje .gallery-picture .picture-horizontal {
  width: 475px;
}
.olejne-abstrakcje .gallery-picture .picture-vertical {
  width: 300px;
}
.olejne-abstrakcje .gallery-text-3 {
  margin: 0;
}

@media (max-width: 768px) {
  .olejne-abstrakcje .close-olejne-abstrakcje {
    font-size: 60px;
  }
  .olejne-abstrakcje .gallery-container {
    margin-top: 120px;
  }
  .olejne-abstrakcje .gallery-container header {
    margin: 0;
  }
  .olejne-abstrakcje .gallery-container header p {
    text-align: center;
  }
  .olejne-abstrakcje .gallery-container .gallery-picture {
    flex-basis: 51%;
  }
  .olejne-abstrakcje .gallery-container .gallery-picture .picture-horizontal {
    width: 300px;
  }
  .olejne-abstrakcje .gallery-container .gallery-picture .picture-vertical {
    width: 300px;
  }
  .olejne-abstrakcje .footer-secondary {
    justify-content: center;
  }
  .olejne-abstrakcje .footer-secondary .footer-text {
    margin: 0;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .olejne-abstrakcje .gallery-container {
    margin-top: 180px;
  }
  .olejne-abstrakcje .gallery-container header {
    flex-basis: 68%;
  }
  .olejne-abstrakcje .gallery-container .gallery-picture {
    flex-basis: 37%;
  }
  .olejne-abstrakcje .gallery-container .gallery-picture .picture-horizontal {
    width: 620px;
  }
  .olejne-abstrakcje .gallery-container .gallery-picture .picture-vertical {
    width: 320px;
  }
}
.olejne-naturalistyczne header {
  flex-basis: 95%;
}
.olejne-naturalistyczne .gallery-picture {
  flex-basis: 50%;
}
.olejne-naturalistyczne .gallery-picture .picture-horizontal {
  width: 460px;
}
.olejne-naturalistyczne .gallery-picture .picture-vertical {
  width: 350px;
}
.olejne-naturalistyczne .gallery-picture .picture-vertical .overlay {
  font-size: 30px;
}
.olejne-naturalistyczne .gallery-text-3 {
  margin: 0;
}

@media (max-width: 768px) {
  .olejne-naturalistyczne .close-olejne-naturalistyczne {
    font-size: 60px;
  }
  .olejne-naturalistyczne .gallery-container {
    margin-top: 120px;
  }
  .olejne-naturalistyczne .gallery-container header {
    margin: 0;
  }
  .olejne-naturalistyczne .gallery-container header p {
    text-align: center;
  }
  .olejne-naturalistyczne .gallery-container .gallery-picture {
    flex-basis: 51%;
  }
  .olejne-naturalistyczne .gallery-container .gallery-picture .picture-horizontal {
    width: 300px;
  }
  .olejne-naturalistyczne .gallery-container .gallery-picture .picture-vertical {
    width: 300px;
  }
  .olejne-naturalistyczne .footer-secondary {
    justify-content: center;
  }
  .olejne-naturalistyczne .footer-secondary .footer-text {
    margin: 0;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .olejne-naturalistyczne .gallery-container {
    margin-top: 180px;
  }
  .olejne-naturalistyczne .gallery-container header {
    flex-basis: 51%;
  }
  .olejne-naturalistyczne .gallery-container .gallery-picture {
    flex-basis: 51%;
  }
  .olejne-naturalistyczne .gallery-container .gallery-picture .picture-horizontal {
    width: 500px;
  }
  .olejne-naturalistyczne .gallery-container .gallery-picture .picture-vertical {
    width: 370px;
  }
}
.szkice header {
  flex-basis: 95%;
}
.szkice .gallery-picture {
  flex-basis: 50%;
}
.szkice .gallery-picture .picture-horizontal {
  width: 450px;
}
.szkice .gallery-picture .picture-vertical {
  width: 350px;
}

@media (max-width: 768px) {
  .szkice .close-szkice {
    font-size: 60px;
  }
  .szkice .gallery-container {
    margin-top: 110px;
  }
  .szkice .gallery-container header {
    text-align: center;
    margin: 0;
  }
  .szkice .gallery-container .gallery-picture {
    flex-basis: 51%;
  }
  .szkice .gallery-container .gallery-picture .picture-horizontal {
    width: 350px;
  }
  .szkice .gallery-container .gallery-picture .picture-vertical {
    width: 250px;
  }
  .szkice .footer-secondary {
    justify-content: center;
  }
  .szkice .footer-secondary .footer-text {
    margin: 0;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .szkice .gallery-container header {
    flex-basis: 75%;
  }
  .szkice .gallery-container .gallery-picture {
    flex-basis: 40%;
  }
  .szkice .gallery-container .gallery-picture .picture-horizontal {
    width: 350px;
  }
  .szkice .gallery-container .gallery-picture .picture-vertical {
    width: 250px;
  }
}
.akrylowe {
  height: 100vh;
  width: 100%;
  background-image: url("../img/mandala.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.akrylowe .akrylowe-container {
  height: 80px;
  color: rgb(194, 24, 24);
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  top: 170px;
}
.akrylowe .akrylowe-container header {
  height: 80px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}
.akrylowe .akrylowe-container header .akrylowe-text {
  margin-left: 250px;
  font-family: "Cinzel", serif;
  font-size: 22px;
  font-weight: 700;
  color: #AA2C18;
}
.akrylowe .akrylowe-container .buttons {
  display: flex;
  flex-direction: column;
  margin: 60px 0 0 250px;
}
.akrylowe .akrylowe-container .buttons a {
  background-color: white;
  transition: all 0.3s;
  font-family: "Cinzel", serif;
  font-size: 15px;
  letter-spacing: 0.15em;
  text-decoration: none;
  color: green;
  height: 85px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.akrylowe .akrylowe-container .buttons a:hover {
  background-color: #8FC9D9;
  color: white;
  cursor: pointer;
}
.akrylowe .akrylowe-container .buttons .btn-mandale {
  border: 1px solid rgb(57, 57, 110);
  margin-bottom: 10px;
}
.akrylowe .akrylowe-container .buttons .btn-abstrakcje {
  border: 1px solid rgb(57, 57, 110);
}

@media (max-width: 576px) {
  .akrylowe .akrylowe-container {
    justify-content: center;
    top: 140px;
  }
  .akrylowe .akrylowe-container header {
    justify-content: center;
  }
  .akrylowe .akrylowe-container header .akrylowe-text {
    margin: 0;
  }
  .akrylowe .akrylowe-container .buttons {
    margin: 60px 0 0 0;
  }
}
.contact.switch-contact-opacity {
  opacity: 1;
}
.contact .contact-container .picture {
  pointer-events: none;
  margin-top: 70px;
  height: 100%;
}
.contact .contact-container .picture .img-vertical {
  width: 350px;
}
.contact .contact-container .contact-container-top {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  top: 180px;
}
.contact .contact-container .contact-container-top .contact-text {
  flex-basis: 30%;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8em;
  margin-left: 40px;
}
.contact .contact-container .contact-container-top .contact-text h2 {
  font-family: "Cinzel", serif;
  font-weight: 100;
  font-size: 24px;
  color: #48656D;
  letter-spacing: 0.1em;
}
.contact .contact-container .contact-container-top .contact-text p {
  text-transform: none;
  color: #4A4A4A;
}
.contact .contact-container .contact-container-top .contact-text .contact-text-1 {
  padding-top: 20px;
}
.contact .contact-container .contact-container-bottom {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  top: 140px;
}
.contact .contact-container .contact-container-bottom .contact-sign-address {
  flex-basis: 33%;
}
.contact .contact-container .contact-container-bottom .contact-sign-address .contact-sign {
  margin-left: 20px;
}
.contact .contact-container .contact-container-bottom .contact-sign-address .contact-sign img {
  width: 250px;
}
.contact .contact-container .contact-container-bottom .contact-sign-address address {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  margin-top: 40px;
}
.contact .contact-container .contact-container-bottom .contact-sign-address address p {
  padding: 10px;
  margin-left: 30px;
  text-transform: none;
  color: #AA2C18;
}

@media (max-width: 576px) {
  .contact .contact-container .picture {
    margin: 0;
  }
  .contact .contact-container .picture .img-vertical {
    width: 250px;
  }
  .contact .contact-container .contact-container-top {
    top: 130px;
  }
  .contact .contact-container .contact-container-top .contact-text {
    flex-basis: 66%;
    font-size: 13px;
    margin-left: 0;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address {
    flex-basis: 45%;
    order: 1;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address address {
    margin: 0;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address address p {
    text-align: center;
    margin: 0;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address .contact-sign {
    margin: 0;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address .contact-sign img {
    width: 150px;
  }
  .contact .contact-container .contact-container-bottom .picture {
    order: 2;
  }
  .contact .contact-container .contact-container-bottom footer {
    order: 3;
    justify-content: center;
  }
  .contact .contact-container .contact-container-bottom footer p {
    margin: 0;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .contact .contact-container .picture .img-vertical {
    width: 250px;
  }
  .contact .contact-container .contact-container-top .contact-text {
    flex-basis: 45%;
    font-size: 13px;
    line-height: 1.2em;
    margin-left: 20px;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address {
    flex-basis: 45%;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address .contact-sign img {
    width: 150px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .contact .contact-container .picture .img-vertical {
    width: 250px;
  }
  .contact .contact-container .contact-container-top .contact-text {
    font-size: 14px;
    line-height: 1.5em;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address .contact-sign img {
    width: 180px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .contact .contact-container .contact-container-top .contact-text {
    font-size: 14px;
  }
  .contact .contact-container .contact-container-top .contact-text .contact-text-1 {
    padding-top: 14px;
  }
}
@media print {
  .contact .contact-container .picture {
    margin-top: 55px;
  }
  .contact .contact-container .picture .img-vertical {
    width: 250px;
  }
  .contact .contact-container .contact-container-top {
    top: 140px;
  }
  .contact .contact-container .contact-container-top .contact-text {
    flex-basis: 35%;
    font-size: 13px;
    line-height: 1.1em;
    margin-left: 20px;
  }
  .contact .contact-container .contact-container-bottom {
    top: 130px;
  }
  .contact .contact-container .contact-container-bottom .picture {
    order: 1;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address {
    flex-basis: 35%;
    order: 2;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address .contact-sign img {
    width: 150px;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address address {
    margin-top: 20px;
  }
  .contact .contact-container .contact-container-bottom .contact-sign-address address p {
    margin: 0;
  }
}
.footer-secondary, .footer-primary {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}
.footer-secondary .footer-text, .footer-primary .footer-text {
  margin-left: 250px;
  font-family: "Jura", sans-serif;
  color: #243236;
}

.footer-secondary {
  position: initial;
  box-shadow: 0px -3px 5px rgb(129, 126, 126);
  margin-top: 20px;
}

@media (max-width: 400px) {
  .footer-primary .footer-text,
  .footer-secondary .footer-text {
    margin-left: 70px;
  }
}/*# sourceMappingURL=style.css.map */