.acrylic-abstractions {
    @extend %gallery;
    // position: initial;

    .gallery-container {

        header {
            flex-basis: 65%;
        }
    }

    .close-acrylic-abstractions {
        @extend %close;
    }

    .gallery-picture {
        flex-basis: 100%;

        .picture-horizontal {
            width: 400px;
        }
    }

    @extend %basket;

    .footer-primary {
        box-shadow: 0px -3px 5px rgb(129 126 126);
    }
}

@media (max-width: 440px) {
    .acrylic-abstractions {

        .close-acrylic-abstractions {
            font-size: 60px;
        }

        .gallery-container {
            margin-top: 120px;

            header {
                margin: 0;
                
                p {
                   text-align: center; 
                }
            }

            .gallery-picture {
                // flex-basis: 33%;
        
                .picture-horizontal {
                    width: 300px;
                }
            }
        }
    }
}

@media (min-width: 441px) and (max-width: 992px) {
    .acrylic-abstractions {

        .gallery-container {
            margin-top: 180px;

            header {

                p {
                   text-align: center; 
                }
            }

            .gallery-picture {
                // flex-basis: 50%;
        
                .picture-horizontal {
                    width: 400px;
                }
            }
        }
    }
}