.contact {
    // display: none;
    // transition: opacity 2s;
    // opacity: 0;

    // &.switch-contact-on {
    //     display: block;
    // }

    // &.switch-contact-opacity {
    //     opacity: 1;
    // }

   .contact-container {

    .picture {
        @extend %frame;
        pointer-events: none;
        margin-top: 50px;
        height: 100%;

        .img-vertical {
            width: 280px;
       }
     }

        .contact-container-top {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: center;
            top: 180px;
    
            .contact-text {
                flex-basis: 34%;
                font-family: $fourth-font;
                font-weight: 300;
                font-size: 16px;
                line-height: 1.6em;
                margin-left: 40px;

                h2 {
                    font-family: $third-font;
                    font-weight: 100;
                    font-size: 24px;
                    color: #48656D;
                    letter-spacing: 0.1em;
                    // margin-left: 40px;
                    padding-bottom: 20px;
                }
    
                p {  
                    // margin-left: 40px;
                    text-transform: none;
                    color: #4A4A4A;
                }
    
                .contact-text-1 {
                    padding-top: 20px;
                }
            }
        }

        .contact-container-bottom {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: center;
            top: 160px;

            .contact-sign-address {
                flex-basis: 37%;

                .contact-sign {
                    margin-left: 20px;
            
                    img {
                        width: 240px;
                    }
                }
    
                address {
                    font-family: $fourth-font;
                    font-weight: 700;
                    font-size: 14px;
                    font-style: normal;
                    margin-top: 40px;
        
                    p {
                        padding: 10px;
                        margin-left: 30px;
                        text-transform: none;
                        color: #AA2C18;
                    }
               }
            }
        }
   }
}

@media (max-width: 576px) {
    .contact {

        .contact-container {

            .picture {
                margin: 0;

                .img-vertical {
                    width: 250px;
                }
            }
           
            .contact-container-top {
                top: 130px;

                .contact-text {
                    flex-basis: 66%;
                    font-size: 13px;
                    margin-left: 0;
                }
            }

            .contact-container-bottom {
                
                .contact-sign-address {
                    flex-basis: 45%;
                    order: 1;
                    
                    address {
                        margin: 0;

                        p {
                            text-align: center;
                            margin: 0;
                        }
                    }
                       
                    .contact-sign {
                        margin: 0;
                                        
                        img {
                            width: 150px;
                        }
                    }
                } 

                .picture {
                    order: 2;
                }
                
                footer {
                    order: 3;
                    justify-content: center;

                    p {
                        margin: 0;
                    }
                }
            }
        }   
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .contact {

        .contact-container {

            .picture {

                .img-vertical {
                    width: 250px;
                }
            }
           
            .contact-container-top {

                .contact-text {
                    flex-basis: 45%;
                    font-size: 13px;
                    line-height: 1.2em;
                    margin-left: 20px;
                }
            }

            .contact-container-bottom {
                
                .contact-sign-address {
                    flex-basis: 45%;
                       
                    .contact-sign {
                                        
                        img {
                            width: 150px;
                        }
                    }

                }    
            }
        }   
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .contact {

        .contact-container {

            .picture {

                .img-vertical {
                    width: 250px;
                }
            }

            .contact-container-top {

                .contact-text {
                    font-size: 14px;
                    line-height: 1.5em;
                }
            }

            .contact-container-bottom {
                
                .contact-sign-address {
                       
                    .contact-sign {
                                        
                        img {
                            width: 180px;
                        }
                    }

                }    
            }
        }   
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .contact {

        .contact-container {

            .contact-container-top {
        
                .contact-text {
                    font-size: 14px;

                    .contact-text-1 {
                        padding-top: 14px;
                    }
                }
            }
        }
    }
}


