.olejne-naturalistyczne {
    @extend %gallery;

    .close-olejne-naturalistyczne {
        @extend %close;
    }

    header {
        flex-basis: 95%;
    }

    .gallery-picture {
        flex-basis: 50%;

        .picture-horizontal {
            width: 460px;
            // @include overlaySprzedany;
        }

        .picture-vertical {
            width: 350px;
            // @include overlaySprzedany;

            .overlay {
                font-size: 30px;
            }
        }
    }

    .gallery-text-3 {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .olejne-naturalistyczne {

        .gallery-container {

            header {
                p {
                   text-align: center; 
                }
            }

            .gallery-picture {
                flex-basis: 51%;
        
                .picture-horizontal {
                    width: 300px;
                    // @include overlaySprzedany;
                }
        
                .picture-vertical {
                    width: 300px;
                    // @include overlaySprzedany;

                    // .overlay {
                    //     font-size: 30px;
                    // }
                }
            }
        }

        .footer-secondary {
            justify-content: center;

            .footer-text {
                margin: 0;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .olejne-naturalistyczne {

        .gallery-container {
            margin-top: 180px;

            header {
                flex-basis: 51%;
            }

            .gallery-picture {
                flex-basis: 51%;
        
                .picture-horizontal {
                    width: 500px;
                }
        
                .picture-vertical {
                    width: 370px;
                }
            }
        }
    }
}