.olejne-abstrakcje {
    @extend %gallery;

    .close-olejne-abstrakcje {
        @extend %close;
    }

    header {
        flex-basis: 95%;
    }

    .gallery-picture {
        flex-basis: 33%;

        .picture-horizontal {
            width: 475px;
            // @include overlaySprzedany;
        }

        .picture-vertical {
            width: 300px;
            // @include overlaySprzedany;
            
            // .overlay {
            //     font-size: 30px;
            // }
        }
    }

    .gallery-text-3 {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .olejne-abstrakcje {

        .close-olejne-abstrakcje {
            font-size: 60px;
        }

        .gallery-container {
            margin-top: 120px;

            header {
                margin: 0;
                
                p {
                   text-align: center; 
                }
            }

            .gallery-picture {
                flex-basis: 51%;
        
                .picture-horizontal {
                    width: 300px;
                    // @include overlaySprzedany;
                }
        
                .picture-vertical {
                    width: 300px;
                    // @include overlaySprzedany;

                    // .overlay {
                    //     font-size: 30px;
                    // }
                }
            }
        }

        .footer-secondary {
            justify-content: center;

            .footer-text {
                margin: 0;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .olejne-abstrakcje {

        .gallery-container {
            margin-top: 180px;

            header {
                flex-basis: 68%;
            }

            .gallery-picture {
                flex-basis: 37%;
        
                .picture-horizontal {
                    width: 620px;
                    // @include overlaySprzedany;
                }
        
                .picture-vertical {
                    width: 320px;
                    // @include overlaySprzedany;

                    // .overlay {
                    //     font-size: 30px;
                    // }
                }
            }
        }
    }
}