.olejne {
    height: 100vh;
    width: 100%;
    background-image: url('../img/olejne.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .olejne-container {
        height: 80px;
        color: rgb(194 24 24);
        background-color: rgba(255, 255, 255, 0.7);
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        top: 170px;

        header {
            height: 80px;
            display: flex;
            align-items: center;
            flex-basis: 100%;
            
            .olejne-text {
                margin-left: 250px;
                font-family: $third-font;
                font-size: 22px;
                font-weight: 700;
                color: $secondary-font-color
            }
        }

        .buttons {
            display: flex;
            flex-direction: column;
            margin: 60px 0 0 250px;

            a {
                background-color: white;
                transition: all 0.3s;
                font-family: $third-font;
                font-size: 15px;
                letter-spacing: 0.15em;
                text-decoration: none;
                color: green;
                height: 85px;
                width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
 
                &:hover {
                    background-color: #8FC9D9;
                    color: white;
                    cursor: pointer;
                }
            }

            .btn-abstrakcje-olejne {   
                border: 1px solid rgb(57, 57, 110);
                margin-bottom: 10px;
            }
            
            .btn-naturalistyczne {
                border: 1px solid rgb(57, 57, 110);
            }
        }
    }
}

@media (max-width: 576px) {
    .olejne {

        .olejne-container {
            justify-content: center;
            top: 140px;

            header {
                justify-content: center;

                .olejne-text {
                    margin: 0;
                }
            }

            .buttons {
                margin: 60px 0 0 0;
            }
        }
    }
} 




