.szkice {
   @extend %gallery;

   .close-szkice {
        @extend %close;
    }

    header {
        flex-basis: 95%;
    }

    .gallery-picture {
        flex-basis: 50%;

        .picture-horizontal {
            width: 450px;
        }

        .picture-vertical {
            width: 350px;
        }
    }
}

@media (max-width: 768px) {
    .szkice {

        .close-szkice {
            font-size: 60px;
        }

        .gallery-container {
            margin-top: 140px;

            header {
                text-align: center;
                margin: 0;
            }

            .gallery-picture {
                flex-basis: 51%;

                .picture-horizontal {
                    width: 350px;
                }
        
                .picture-vertical {
                    width: 250px;
                } 
            }
        }

        .footer-secondary {
            justify-content: center;

            .footer-text {
                margin: 0;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .szkice {
        .gallery-container {

            header {
                flex-basis: 75%;
            }

            .gallery-picture {
                flex-basis: 40%;

                .picture-horizontal {
                    width: 350px;
                }
        
                .picture-vertical {
                    width: 250px;
                } 
            }
        }
    }
}