
/* 1. Dlaczego nav-item zmienił kolor?
2. Dlaczego text-decoration: none działa tylko dla body? 
3. Dlaczego nie działa hover na nav-item + przyciski*/

*{
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
}

.main-header-container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    block-size: fit-content;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1; 
    box-shadow: 0px 3px 5px rgb(129 126 126);
}

.main-header-sign-container {
    height: 90px;
    flex-basis: 15%;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Zdjęcia/Sailing_clinta.jpg);
    /* background-image: url(../STRONKA/Zdjęcia/Sailing_clinta.jpg); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main-header-sign-container a {
    text-decoration: none;
    color: #080808;
    transition: all 0.3s;
}

.main-header-sign-container a:hover {
    cursor: pointer;
    color: pink;
}

nav {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0;
}
.nav-item {
    display: inline-block;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #9C9C9C;
    transition: all 0.3s;
    /* text-decoration: none; dlaczego nie działa? */
}

.nav-item:hover {
    cursor: pointer;
    color: pink;
}

.social-links{
    margin: 25px 0;
    display: flex;
    flex-basis: 15%;
}

.social-link{
    font-size: 30px;
    color: grey;
    transition: all 0.3s;
    margin: 0 20px;
}

.social-link:hover{
    color: #1b1b1b;
}

.main-akrylowe {
    height: 762px;
    width: 100%;
    background-image: url(../Zdjęcia/mandala.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.akrylowe-container {
    height: 50px;
    color: rgb(194 24 24);
    background-color: #ffffffd1;
    position: relative;
    display: flex;
    align-items: center;
    top: 130px;
}

.akrylowe-text {
    margin-left: 250px;
}

.btnMain {
    background-color: white;
    color: green;
    height: 120px;
    width: 220px;
    position: relative;
    transition: all 0.3s;
    /* text-decoration: none; */
}

 .btnMain:hover {
    cursor: pointer;
    color: aquamarine;
 }

.btnMandale {
    top: 180px;
    left: 250px;
}

.btnAbstrakcje {
    top: 350px;
    left: 25px;
}

footer {
    background-color: #bab8b887;
    position: relative;
    display: flex;
    align-items: center;
    top: 542px;
    height: 50px;
}

.footer-text {
    margin-left: 250px;
    font-family: 'Jura', sans-serif;
    color: #FFFFFF;
}

@media (max-width: 400px) {
    .main-header-sign-container {
        flex-basis: 100%;
    }

    .nav-item {
        font-size: 18px;
        padding: 5px;
        flex-basis: 80%;
    }

    .social-link {
        font-size: 21px;
        flex-basis: 20%;
    }

    .akrylowe-container {
        top: 210px;
    }

    .btnMandale {
        top: 290px;
        left: 85px;
    }
    
    .btnAbstrakcje {
        top: 350px;
        left: 85px;
    }

    .akrylowe-text,
    .footer-text {
        margin-left: 70px;
    }

    footer {
        top: 370px;
    }

} 