*{
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

.szkice,
.akrylowe-abstrakcje,
.akrylowe-mandale,
.olejne-abstrakcje,
.olejne-naturalistyczne {
    display: flex;
    flex-direction: column;
    align-items: center;
} 