*{
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

.sketches,
.acrylic-abstractions,
.acrylic-mandalas,
.oil-abstractions,
.oil-naturalistic {
    display: flex;
    flex-direction: column;
    align-items: center;
} 